<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='icons/documents-30.png') }}" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <title>Jafet's portfolio</title>
</head>
<body>
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="#cover" data-after="Home">Home</a></li>
            <li><a href="#about" data-after="Service">About</a></li>
            <li><a href="#projects" data-after="Projects">Projects</a></li>
            <li><a href="#awards" data-after="About">Awards</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="cover">
    <div class="cover container">
      <div>
        <div id="Message">
          <h1>I want to discover<span></span></h1>
          <h1>things that take me<span></span></h1>
          <h1>to new places.<span></span></h1>
          <a href="#about" type="button" class="cta">Portfolio</a>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{{url_for('static', filename='images/Me_in_HC.jpg')}}"/>
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>me</span></h1>
        <p>Hi there! </br>I am Jafet Mora, a young Software Developer with a high interest in learn, build and share experiences. Generally I enjoy discovering technologies and new things from which I can learn, interact with, and of course have a good time creating code. </br>You can know a little more about me by scrolling down, </br></br> I hope you enjoy it. :)</p>
        <a href="{{url_for('static', filename='documents/JMU_Resume.pdf')}}" target="_blank" class="cta">Open Resume</a>
      </div>
    </div>
  </section>
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Recent <span>Projects</span></h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Project 1</h1>
            <h2>TS&A</h2>
            <p>Web app that consume some Azure Cognitive Services as the API in order to provide an translator, that is capable to convert text to speech and run apect-based analysis.</p>
          </div>
          <div class="project-img">
            <div class="tech-review">
              <h2>Tools</h2>
              <ul>
                <li>Flask for Back-End development</li>
                <li>Azure Cognitive Servces</li>
                <li>JQuery/ and Ajax.</li>
                <li>HTML5/CSS3</li>
              </ul>
            </div>
            <img src="{{url_for('static', filename='images/Project1_img.jpg')}}"/>
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 2</h1>
            <h2>Covid-19 Updater</h2>
            <p>Data analysis project that provide a view with a line chart with the new covid-19 cases per day of some selected countries in order to be aware of the countries status by just clicking one button.</p>
          </div>
          <div class="project-img">
            <div class="tech-review">
              <h2>Tools</h2>
              <ul>
                <li>Python 3</li>
                <li>COVID19Py package</li>
                <li>Pandas/Numpy</li>
                <li>Matplotlib</li>
                <li>Jupyter Lab</li>
              </ul>
            </div>
            <img src="{{url_for('static', filename='images/Project2_img.jpg')}}"/>
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 3</h1>
            <h2>TODO App</h2>
            <p>Web application based on a python microframework that helps me to track a list of all my TODO tasks or my old and new project ideas.</p>
          </div>
          <div class="project-img">
            <div class="tech-review">
              <h2>Tools</h2>
              <ul>
                <li>Flask microframework</li>
                <li>HTML5/CSS3</li>
              </ul>
            </div>
            <img src="{{url_for('static', filename='images/Project3_img.jpg')}}"/>
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 4</h1>
            <h2>My own blog</h2>
            <p>Experimental web app created with the purpose of test new technologies as well to write thoughts and post them in a public area.</p>
          </div>
          <div class="project-img">
            <div class="tech-review">
              <h2>Tools</h2>
              <ul>
                <li>Django framework</li>
                <li>HTML5/CSS3</li>
              </ul>
            </div>
            <img src="{{url_for('static', filename='images/Project4_img.jpg')}}"/>
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 5</h1>
            <h2>Project DER</h2>
            <p>Hardware and Software based project that with the usage of a drone helps firefighters collecting and analyzing data to resolve critical problems more effectively.</p>
          </div>
          <div class="project-img">
            <div class="tech-review">
              <h2>Tools</h2>
              <ul>
                <li>Arduino  & Raspberry Pi technologies</li>
                <li>Chemical sensors</li>
                <li>LAMP Stack</li>
                <li>HTML5/CSS3</li>
                <li>Python/Bash scripting</li>
                <li>OpenCV</li>
              </ul>
            </div>
            <img src="{{url_for('static', filename='images/Project5_img.jpg')}}"/>
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Project 6</h1>
            <h2>Text-to-speech reader</h2>
            <p>IA Program writed to read text by computer vision and transform the text into audio, to help people with visual impairments that has no human help to read things.</p>
          </div>
          <div class="project-img">
            <div class="tech-review">
              <h2>Tools</h2>
              <ul>
                <li>Python 3</li>
                <li>Tesseract OCR</li>
                <li>Tensorflow</li>
                <li>YOLO</li>
                <li>Intel RealSense</li>
              </ul>
            </div>
            <img src="{{url_for('static', filename='images/Project6_img.jpg')}}"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="awards">
    <div class="awards container">
      <div class="awards-top">
        <h1 class="section-title">Aw<span>a</span>rds</h1>
        <p>Most of the following awards are due to my participation in technology fairs, Expo-engineering, project development in the high school and internships, but above all for enjoying trying to innovate with technology.</p>
      </div>
      <div class="awards-bottom">
        <div class="awards-item">
          <div class="icon"><img src="{{url_for('static', filename='icons/service-64.png')}}"/></div>
          <h2>Expo-Engineering</h2>
          <p>Awarded by MEP for classify and participate in the Costa Rica National Expo-Engineering in November 2018 and November 2019</p>
        </div>
        <div class="awards-item">
          <div class="icon"><img src="{{url_for('static', filename='icons/service-64.png')}}"/></div>
          <h2>Intel ISEF Challenge</h2>
          <p>Selected by Intel Corporation as one of the six invited projects to participate in the Costa Rica ISEF Challenge 2019.</p>
        </div>
        <div class="awards-item">
          <div class="icon"><img src="{{url_for('static', filename='icons/service-64.png')}}"/></div>
          <div>
            <h2>National Meeting 4.0</h2>
            <p>Chosen by Mintic as the winner project in the 2019 Expo-Engineering to compete in the Bogota, Colombia National Meeting 4.0 in 2020.</p>
          </div>
        </div>
        <div class="awards-item">
          <div class="icon"><img src="{{url_for('static', filename='icons/service-64.png')}}"/></div>
          <div>
            <h2>Intel IC Intern</h2>
            <p>Due to my development perfomance I was one of the 5 selected students to work in the project development program at Intel Innovation Center Costa Rica.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="contact container">
      <div class="contact-title">
        <h1 class="section-title">Contact <span>Info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="{{url_for('static', filename='icons/phone-70.png')}}"/></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>+506 71445897</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{{url_for('static', filename='icons/email-70.png')}}"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2><a href="mailto:((jafet.moraugalde15@gmail.com))" style="text-decoration:none">jafet.moraugalde15@gmail.com</a></h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="{{url_for('static', filename='icons/address-70.png')}}"/></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>San Antonio, Alajuela, Costa Rica</h2>
            <h2>20104</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer">
    <div class="footer container">
      <div class="social-icon">
        <div class="social-item">
          <a href="https://linkedin.com/in/jafet-mora" target="_blank"><img src="{{url_for('static', filename='icons/linkedin-70.png')}}"/></a>
        </div>
        <div class="social-item">
          <a href="https://github.com/JafetMo5601" target="_blank"><img src="{{url_for('static', filename='icons/github-70.png')}}"/></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/jmo.py/" target="_blank"><img src="{{url_for('static', filename='icons/instagram-70.png')}}"/></a>
        </div>
        <div class="social-item">
          <a href="https://www.facebook.com/jafet.moraugalde/" target="_blank"><img src="{{url_for('static', filename='icons/facebook-70.png')}}"/></a>
        </div>
      </div>
      <p><span>&#169;</span> 2020 Jafet's Projects.</p>
    </div>
  </section>
  <script type="text/javascript" src="{{url_for('static',filename='scripts/main.js')}}"></script>
</body>
</html>
